<div class="container-lg py-2">
    <mat-card class="bg-light">
        <mat-card-title class="fs-2">All bookings</mat-card-title>
        <mat-card-content class="pt-3">
            <div *ngIf="!bookings.length">No bookings</div>
            <div *ngFor="let booking of bookings">
                <mat-card class="mb-3">
                    <h2 class="mb-1">Reservation Mode: Online</h2>
                    <mat-card class="mb-2">
                        <div class="row fs-4">
                            <div class="col-6">
                                {{booking.bus.source}}&nbsp;&nbsp;<i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i>&nbsp;&nbsp;{{booking.bus.destination}}
                            </div>
                            <div class="col-6">
                                Booked on:&nbsp;{{booking.bookingDate | date : 'medium'}}
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="mb-2">
                        <div class="row fs-6">
                            <div class="col-3 column-heading">Passenger Details</div>
                            <div class="col-3 column-heading">Ticket ID</div>
                            <div class="col-3 column-heading">Seats</div>
                            <div class="col-3 column-heading">Total Fare</div>
                            <div class="col-3">
                                {{booking.passengerInfo.username}}<br>
                                {{booking.passengerInfo.mobile}}<br>
                                {{booking.passengerInfo.email}}
                            </div>
                            <div class="col-3">{{booking.ticketId}}</div>
                            <div class="col-3">{{booking.seats}}</div>
                            <div class="col-3">{{booking.totalFare | currency : 'INR'}}</div>
                        </div>
                    </mat-card>
                    <mat-card class="mb-2">
                        <div class="row fs-6">
                            <div class="col-4 column-heading">Bus Name</div>
                            <div class="col-4 column-heading">Reporting Time</div>
                            <div class="col-4 column-heading">Departure Time</div>
                            <div class="col-4">
                                {{booking.bus.bus_name}}<br>
                                <i>Coach Type:{{booking.bus.coach_type}}</i>
                            </div>
                            <div class="col-4">30 minutes before departure</div>
                            <div class="col-4">{{booking.bus.dept_time | date : 'medium'}}</div>
                        </div>
                    </mat-card>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>