<div id="navbar">
    <mat-toolbar color="primary">
        <div routerLink="/" style="cursor: pointer; flex: 0 0 auto;">
            <div class="d-inline-block float-start">
                <i class="fa fa-bus fa-2x" aria-hidden="true"></i>
            </div>
            <span class="fs-3 d-inline-block ps-2 pt-1">MyTrip</span>
        </div>
        <div class="navbar-button-container px-2">
            <button mat-button class="" routerLink="/search-buses">Search Buses</button>
            <button mat-button class="" routerLink="/bookings">My Bookings</button>
        </div>
    </mat-toolbar>
</div>